

@import url('../../store/fonts.css');

.root {
  margin-bottom: 1.5rem;
  height: 15rem;
  width: 13rem;
display: flex;
  flex-direction: column;

  position: relative;

}

 .cardImg {
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  padding: 0 1rem;

} 
.textInCard {
  padding: 0 1rem 1rem;
  margin-top: -1.5rem;
}


.textInCard .cardDescription {
  margin-top: .5rem;
  font-size: 80%;
  font-family: 'Quicksand', sans-serif !important;
  opacity: .9;
  font-weight: 400;
}


.productLinks {
  position: absolute;  
  top: 0;
  right: 1rem;

  display: flex;
  flex-direction: column;
}


.root button.btn  {
  all: unset;
  font-family: 'Quicksand', sans-serif !important;

  color: black;
  background-color: unset;
  outline: unset;
  border: unset;
  text-align: right;
  letter-spacing: .1rem;
  font-size: .7rem;
  opacity: .75; 

  text-underline-offset: 1px;
  text-decoration: underline;
  text-decoration-color: rgb(101, 101, 101);
}
 
 
.btn:hover  {
  cursor: pointer;
  opacity: .95; 
  background-color: rgba(255, 255, 255, 0.3);
}
