@import './bp.css';

.root {
  box-sizing: border-box;
  position: relative;
    
  width: 100vw; 
  padding: unset;
  font-size: unset;
  height: 100%;
  color: #212121;

  display: flex;
  justify-content: center;

}

.root * {
  color: #212121;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  
}

.img { 
  position: absolute;
  left: 0;
  top: 0;
  min-height: 90vh;
  object-fit: cover;
  width: 100%;
z-index: -1;
}

@media (min-width: 700px) {
  .img  {
    max-height: 95vh;
  }
}
  

