@import url('../../store/fonts.css');

.root {
    display: flex;
    flex-direction: column;
  
}

.root h1 {
    text-transform: uppercase;
}

.card {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;

    width: min-content;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.notes input{
    border:unset ;
    font-style: italic;
    border-radius: 0;
    /* padding: 0 2px; */
    margin: 0 .5rem;
    border-bottom: 1px solid black;


}