@import url('../../store/fonts.css');

.root {
    display: flex;
    flex-direction: column;
}

.root h1 {
    text-transform: uppercase;
}

.card { 
    height: 16rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.notes {
    width: 100%;
    max-height: 5rem;

    border: unset;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-style: italic;
    opacity: .8;
}

.notes::placeholder {
    opacity: .7;
}