@import url('../../store/fonts.css');

.root {
    display: flex;
    flex-direction: column;
  
}

.root h1 {
    text-transform: uppercase;
}

.card { 
    width: min-content;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.notes {
    border:unset ;
    font-style: italic;
    border-radius: 0;
    width: 100%;

    border-bottom: 1px solid black;
}

.notes::placeholder {
    opacity: .7;
}